* {
  font-family: sans-serif;
}

.logo {
  max-width: 50%;
  max-height: 70%;
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-items > ul :hover {
  cursor: pointer;
}

.nav-items > ul > li {
  margin: 20px;
}

.filter{
  display: flex;
  align-items: center;
}

.card {
  width: 200px;
  text-align: center;
  margin: 20px;
  background-color: rgb(229, 229, 229);
}

.card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
}

.card > img {
  max-width: 100%;
}

.filter-btn {
  margin: 15px;
  cursor: pointer;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
}

.shimmer-card {
  margin: 10px;
  height: 400px;
  width: 200px;
  background-color: rgb(215, 214, 214);
}
